---
layout: default
---
<article>
  <header>
      <span class="post-date">{{ page.date | date: "%b %-d, %Y" }} </span> 
      {% assign sorted_tags = page.tags | sort%}
      {% for tag in sorted_tags %}
        <span class="badge">{{tag}}</span>
      {% endfor %}

      <h1>{{ page.title | escape }}</h1>  
      {% if page.heroimage %}
      <img class="post-heroimage" src="{{ page.heroimage.url }}" alt="">
      <div class="post-heroimage-caption">
        <i>{{ page.heroimage.caption }}</i
      </div>
      {% endif %}
  </header>
  <p>
    {{ content }}
  </p>
</article>